@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-[#0b0613] text-white antialiased;
}

::selection {
  background: rgba(255, 46, 139, .35);
}
